<%= render template: "layouts/base" %>
<%= content_for :content do %>
<br />
<div class="card-group">
  <div class="card" style="width: 18rem">
    <%= link_to image_tag('dj2.png', :class=>"card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of
        the card's content.
      </p>
      <%= link_to  "About Me", '/about', class:"btn btn-dark" %>
    </div>
  </div>

  <br>

  <div class="card" style="width: 18rem">
    <%= image_tag 'dj2.png',  :class=>"card-img-top"%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of
        the card's content.
      </p>
      <%= link_to  "About Me", '/about', class:"btn btn-dark" %>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <%= image_tag 'dj2.png',  :class=>"card-img-top"%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of
        the card's content.
      </p>
      <%= link_to  "About Me", '/about', class:"btn btn-dark" %>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <%= image_tag 'dj2.png',  :class=>"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of
        the card's content.
      </p>
      <%= link_to  "About Me", '/about', class:"btn btn-dark" %>
    </div>
  </div>

</div>
  
  
<% end %>
